q 1
Find the mean of 85,92,78,89,95,87,90 using python programming

In [ ]:
data = [85, 92, 78, 89, 95, 87, 90]
mean = sum(data) / len(data)
print("Mean:", mean)

Mean: 88.0

 q2
 #The following frequency table giving the ages of membrrs of a symphony orchestra for young adults

 #age      15  16  17  18  19  20
 #frequency 2    5  11  9   14  13
 #find the sample mean of the ages of the 54

In [ ]:
#values nd frequencies, creating tqo lists
values = {15,16,17,18,19,20}
frequencies = {2,5,11,9,14 ,13}

#calculate the sum of f*x
sum_fx = sum(f*x for f, x in zip(frequencies,values))

#sum of frequencies
sum_f = sum(frequencies)

#calculate the mean
mean = (sum_fx)/sum_f

print("mean of the frequency in distribution: ",mean)

mean of the frequency in distribution:  17.74074074074074

q3 now for interval

marks :       0-10   10-20  20-30  30-40  40-50  50-60

no.of students:12     18     27    20      17     6

In [ ]:
no_of_intervals = [{0,10},{10,20},{20,30},{30,40},{40,50},{50,60}]
frequencies1    = [12,18,27,20,17,6]
#calc mid points
mid_points = [(start+end)/2 for start,end in no_of_intervals]
# f*x
sum_fm = sum(f*m for f, m in zip(frequencies1,mid_points))
#sum of f
sum_f = sum(frequencies1)
#mean
mean = (sum_fm)/(sum_f)
#print
print("mean:",mean)

mean: 28.0

q4 find the median

data = [3,13,7,5,21,23,39,23,40,23,14,12,56,23,29]

In [ ]:
#q4find the median
data = [3,13,7,5,21,23,39,23,40,23,14,12,56,23,29]

#sort the data, ascending
data_sorted = sorted(data)

#find the middle index
middle_index = len(data_sorted)// 2
print(middle_index)

#get the median
median = data_sorted[middle_index]

print("median:", median)

7
median: 23

q 5

Find the Median of (3,13,7,5,21,23,23,40,23,14,12,56,23,29)

In [ ]:
data=[3,13,7,5,21,23,23,40,23,14,12,56,23,29]
data_sorted=sorted(data)
middle_index1=len(data_sorted)//2-1
middle_index2=len(data_sorted)//2
median=(data_sorted[middle_index1]+data_sorted[middle_index2])/2
print("Median of the sample data is:" ,median)

Median of the sample data is: 22.0